@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
button{
    background: rebeccapurple;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-container.active{
    display: flex;
}
.popup{
    background: white;
    width: 500px;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}
.popup button{
    background: white;
    color: rebeccapurple;
    font-size: 2rem;
    position: absolute;
    top: 8px;
    right: 10px;
}
